
/node_modules
/public/hot
/public/storage/*
!/public/storage/assets/

/storage/*.key
/storage
/vendor
/public
/stubs
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/storage/framework/view
auto_login_account.php
